[Desktop Entry]
Categories=Office;
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password --silent %U
Hidden=false
Icon=1password
MimeType=x-scheme-handler/onepassword;
Name=1Password
NoDisplay=false
StartupWMClass=1Password
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=0
X-GNOME-Autostart-enabled=true
