[Unit]
Description=Stop podman containers on logout
ConditionFileIsExecutable=/usr/bin/podman
After=default.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/podman stop --all

[Install]
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#default.target1
# The main target for user sessions
WantedBy=default.target
