[Unit]
Description=Updates tfenv
After=default.target

[Service]
Type=simple
ExecStart={{ lookup('ansible.builtin.env', 'HOME') }}/.local/bin/tfenv-update

[Install]
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#default.target1
# The main target for user sessions
WantedBy=default.target
