[Unit]
Description=Update user scripts and tools
After=default.target

[Service]
Type=simple
ExecCondition=non-metered-connection.bash
ExecStartPre=cargo install --git https://gitlab.com/perobertson/user-updates.git
Environment=CARGO_INSTALL_ROOT=%h/.local
ExecStart=%h/.local/bin/user-updates

[Install]
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#default.target1
# The main target for user sessions
WantedBy=default.target
